.box-toggle {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.toggle {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: #EBEBED;
    padding: 20px;

}

.toggle>h4 {
    color: #312B99;
    font-weight: bolder;
    text-align: center;
}

.toggle>p {
    text-align: center;
    color: #454560;
}

.toggle div>input {
    background-color: #C3C2D9;
    border: none;
    width: 60%;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    outline: none;
    color: #464560;
}

.toggle div>button {
    color: white;
    font-weight: bolder;
    background: none;
    border: none;
    background-image: url('../../assets/sprite3.png');
    background-size: contain;
    margin-top: 20px;
    padding: 10px 40px;
    transition: filter 0.5s ease;
}

.toggle div>button:hover {
    filter: brightness(1.2);
}

.sala-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/background.png');
}

.sala-contenido {
    width: 63%;
    background-color: #6159C6;
    border-radius: 10px;
    border: 2.5px solid #A099FF;
}

.sala-box {
    margin-top: 30px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 22% 56% 22%;
}

.sala-encabezado {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.sala-encabezado .letra {
    padding: 0px 20px;
}

.sala-encabezado .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sala-encabezado .logo h3 {
    color: #FFC058;
    text-shadow: 0px 3px 12px rgba(0, 0, 0, 0.7);
    font-weight: bolder;
}

.sala-encabezado .letra>div {
    margin-top: 30px;
    background-image: url('../../assets/panel.png');
    background-size: contain;
    height: 68px;
    display: flex;
    justify-content: center;
}

.box-letra {
    position: fixed;
    transform: translateY(-23px);
    width: 125.6px;
    height: 115px;
    background-image: url('../../assets/sprite4.png');
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: filter 0.5s ease;
}

.box-letra:hover {
    filter: brightness(1.3);
}

.box-letra>span {
    font-size: 55px;
    font-weight: bolder;
    color: #29D3B2;
}

.sala-participantes {
    margin-left: 5px;
    border-radius: 10px;
    background-color: #1B1772;
    overflow-y: auto;
    height: 100%;
}

.sala-chat {
    height: 100%;
    border-radius: 10px;
    margin-right: 10px;
    position: relative;
    background-color: #312B99;
}



.sala-btn {
    width: 208px;
    padding: 22px;
    background: none;
    border: none;
    background-image: url('../../assets/sprite.png');
    background-size: cover;
    padding-left: 40px;
    color: #332D7A;
    font-weight: bolder;
    transition: filter 0.5s ease;
}

.sala-btn:hover {
    filter: brightness(1.1);
}

.box-mensajes {
    padding: 20px 10px;
    background-color: #312B99;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 420px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1B1772;
}

::-webkit-scrollbar-thumb {
    background-color: #8282DB;
    border-radius: 5px;
}

.mensaje {
    line-height: 15px;
}

.sala-form-chat {
    padding: 20px 0px;
    background-color: #1B1772;
    display: flex;
    position: absolute;
    bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sala-form-chat input {
    background: none;
    border: none;
    border-bottom: 2px solid #5653A6;
    margin: 0px 5px;
    width: 80%;
    outline: none;
    color: white;
}

.sala-form-chat input:focus {
    border-bottom: 2px solid #8c89e8;
}

.sala-form-chat input::placeholder {
    color: #b5a3bb;
}

.sala-mesa .box h4 {
    font-weight: bolder;
    margin-top: 15px;
    color: white;
}

.sala-mesa .box p {
    padding: 0px 100px;
    margin-top: 15px;
    color: #efd8fc;
    font-size: 15px;
}

.sala-mesa .box img {
    height: 290px;
}

.nombre-usuario {
    color: #BB82FC;
    font-size: 15px;
}

.descripcion {
    color: white;
    font-size: 13px;
}

.sala-form-chat button {
    background: none;
    border: none;
    background-image: url('../../assets/enviar.png');
    background-size: contain;
    width: 24px;
    height: 24px;
    transition: filter 0.5s ease;
}

.sala-form-chat button:hover {
    filter: brightness(1.3);
}

.sala-participantes .nombre-usuario {
    border-radius: 5px;
    margin: 2px;
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: #312B99;
}

.sala-participantes .nombre-usuario .nombre {
    color: white;
}

.sala-participantes .nombre-usuario .puntos {
    color: #AAA5E0;
    margin-bottom: 13px;
}

.sala-participantes .nombre-usuario>div>img {
    width: 100%;
}

.box-entrada {
    height: 400px;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    overflow-y: scroll;
}

.box-entrada>div {

    margin-top: 8px;
}

.box-entrada>div>h6 {
    color: #dbd6df;
}

.box-entrada>div>input {
    width: 100%;
    border: 2px solid #693692;
    outline: none;
    border-radius: 10px;
    text-align: center;
    padding: 5px 5px;
    color: black;
}

.box-entrada>div>input:focus {
    border: none;
    outline: 3px solid #F0AE4B;
}



.resto {
    color: #40405E;
    border-radius: 15px;
    cursor: pointer;
}

.resto:hover {
    filter: brightness(1.1);
}

.importante {
    color: white;
}

.por-corregir {
    background-color: #D2C7F9;
    animation: mover 1s linear infinite;
}

@keyframes mover {
    0% {
        background-color: #D2C7F9;
    }

    50% {
        background-color: #c7b9fb;
    }

    0% {
        background-color: #D2C7F9;
    }
}

.correcto {
    background-color: #8CC63E;
    color: white;
}

.incorrecto {
    color: white;
    background-color: #EE1B24;

}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.box-resultados {
    border: 2px solid #A099FF;
    background-color: #6159C6;
    border-radius: 10px;
    padding: 10px 10px;
    height: 400px;
    overflow: auto;
    color: white;
}
.box-resultados h4 {
    text-align: center; 
    color: #FFC058;
    font-weight: bolder;
}
.box-resultados::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.box-resultados::-webkit-scrollbar-track {
    background: #1B1772;
}

.box-resultados::-webkit-scrollbar-thumb {
    background-color: #8383da;
    border-radius: 5px;
}

.tabla-resultado {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.tabla-resultado td{
    border: 1px solid white;
    padding: 5px;
}
.tabla-resultado td span {
    font-size: 13px;
    width: 100%;
    margin: 5px 5px;
    padding: 6px 15px;
}

@media screen and (max-width:720px) {
    .toggle {
        width: 100%;
        margin: 10px;
    }

    .sala-container {
        padding: 10px;
        height: auto;
    }

    .sala-contenido {
        margin: none;
        width: 100%;
        height: 100%;
        margin: 20px;
    }

    .sala-mesa .box p {
        padding: 20px;
    }

    .sala-box {
        width: auto;
        height: auto;
        grid-template-columns: 100%;
    }

    .sala-mesa {
        width: 100%;
    }

    .sala-chat {
        display: none;
    }

    .box-resultados {
        overflow-x: scroll;
    }

    .tabla-resultado {
        overflow-x: scroll;
    }

    .sala-participantes {
        display: none;
    }
}